.place__row {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  gap: 40px;
}

@media screen and (max-width: 320px) {
  .place__row {
    grid-template: 1fr / 1fr;
    flex-direction: column;
    gap: 30px;
  }
}
