.cover {
  max-width: 1184px;
  min-height: 740px;
  padding-top: 92px;
  margin: 0 auto;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
    padding-top: 89px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
    min-height: 200px;
  }
}
