.cover__title {
  max-width: 656px;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  color: #ffffff;
  margin: 20% 0 0;
  z-index: 1;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-style: normal;
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
  }
}
