.place {
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 80px;
}

.place:last-child {
  padding-bottom: 0;
}

/* @media screen and (max-width: 1024px) {
    .place {
      max-width: 928px;
      margin: 0;
      padding: 92px 48px 80px;
    }
  }  */

/* @media screen and (max-width: 768px) {
    .place {
      max-width: 720px;
      padding: 88px 24px 50px;
    }
  }  */

/* @media screen and (max-width: 768px) {
    .place {
      max-width: 320px;
      padding: 88px 48px 50px;
    }
  }  */
