.place {
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 80px;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place {
    padding-bottom: 50px;
  }
}

