.place__website {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0;
    justify-content: center;
    max-width: 456px;
    flex-basis: 50%;
} 


@media screen and (max-width: 1024px) {
    .place__website {
      max-width: 352px;
    }
  }

  @media screen and (max-width: 1024px) {
    .place__website {
      max-width: 288px;
    }
  }